#mesaprofesor{
    height: 80px;
    width: 200px;
    border-color: black;
    background-color: burlywood;
    border-style: solid;
    border-radius: 3px;
    position: relative;
    top:800px;
    margin-bottom: 50px;
    left:40%;
    
}
.mesaizquierda{
    height: 120px;
    width: 300px;
    border-color: rgb(223, 38, 38);
    background-color: rgb(231, 160, 68);
    border-style: solid;
    border-radius: 3px;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    left: 35%;
}
.mesaderecha{
    height: 120px;
    width: 300px;
    border-color: rgb(38, 50, 223);
    background-color: rgb(161, 138, 107);
    border-style: solid;
    border-radius: 3px;
    left:45%;
    position: relative;
    
    
}